<template>
  <button :class="[`button is-${type} `, isFull ? 'is-full' : null]">
    <slot />
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    type: {
      default: "outline",
    },
    isFull: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.button {
  padding: var(--default-padding);
  border-radius: var(--default-radius);
  background-color: transparent;
  min-width: 90px !important;
  font-size: var(--body-font);
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.button:focus {
  box-shadow: var(--box-shadow) !important;
  outline: none;
  border: none;
}
.is-outline {
  color: var(--secondary-color) !important;
  background: #ffffff !important;
}
.is-primary {
  background: var(--primary-color) !important;
  font-weight: bold;
}
.is-secondary {
  background: var(--secondary-color) !important;
  font-weight: bold;
}
.is-danger {
  background: var(--danger-color) !important;
  font-weight: bold;
}
.is-magenta {
  background: var(--magenta-color) !important;
  font-weight: bold;
}
</style>
