<template>
  <footer class="container footer">
    <div class="footer-social">
      <div>
        <span class="footer-thankmsg">Thank you for supporting us!</span>
        <span class="footer-getmsg"
          >Let's get in touch on any of these platforms.</span
        >
      </div>
      <div class="footer-icongroup">
        <app-twitter></app-twitter>
        <app-facebook></app-facebook>
        <app-dribble></app-dribble>
        <app-github></app-github>
      </div>
    </div>
    <div class="footer-corporate">
      <div class="footer-copyright">
        <strong>© 2020 </strong>
        <a target="_blank" href="https://sikayetvar.com">
          <span class="corparate"> Şikayetvar</span></a
        >
      </div>
      <span class="footer-slug">Posts</span>
    </div>
  </footer>
</template>

<script >
import Twitter from "./Icons/Twitter.vue";
import Dribble from "./Icons/Dribble.vue";
import Facebook from "./Icons/Facebook.vue";
import Github from "./Icons/Github.vue";
export default {
  components: {
    AppTwitter: Twitter,
    AppDribble: Dribble,
    AppFacebook: Facebook,
    AppGithub: Github,
  },
};
</script>
<style>
.footer {
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-thankmsg {
  color: var(--primary-color);
  font-weight: normal;
  font-size: 1.5rem;
  display: block;
  letter-spacing: -0.45px;
  line-height: 2.5;
}
.footer-getmsg {
  font-weight: 200;
  font-size: 1.375rem;
}
.footer-corporate {
  margin-top: 5rem;
  border-top: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
.footer-copyright {
  margin-top: 3rem;
  font-size: 0.875rem;
}
.footer-copyright strong {
  color: var(--label-color);
}
.footer-copyright .corparate {
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: -0.4px;
}
.footer-slug {
  font-size: 0.875rem;
  color: var(--input-color);
  font-weight: bold;
  display: inline-block;
  margin-top: 3rem;
}
</style>