<template>
  <app-overlay></app-overlay>
  <div class="container">
    <header class="header mt-30">
      <div class="nav-start">
        <a href="/">
          <svg
            width="164"
            height="33"
            viewBox="0 0 164 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.945435 19.8485L4.61106 18.6888C5.02662 20.1908 5.92597 21.5185 8.14023 21.5185C10.0087 21.5185 11.2182 20.8035 11.2182 19.575C11.2182 18.724 10.6662 18.0089 8.03634 17.5658C4.43894 16.918 1.42922 15.8271 1.42922 12.2823C1.42922 9.35025 3.95361 6.96365 8.14023 6.96365C11.5996 6.96365 13.986 8.77117 14.7132 11.8392L11.0802 12.8614C10.7685 11.6345 10.0428 10.3739 8.14023 10.3739C6.16787 10.3739 5.30418 11.225 5.30418 12.1127C5.30418 13.2693 6.54931 13.6788 8.76358 14.0868C12.6029 14.7697 15.1273 16.099 15.1273 19.5078C15.1273 22.5422 12.3951 24.9273 8.14023 24.9273C4.36917 24.9273 1.81067 23.0189 0.945435 19.8485Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19.2761 24.9273H23.2707V7.62551H19.2761V24.9273ZM18.9091 2.80737C18.9091 1.45518 19.9417 0.345459 21.2399 0.345459C22.5366 0.345459 23.6363 1.45518 23.6363 2.80737C23.6363 4.15956 22.5366 5.26928 21.2399 5.26928C19.9417 5.26928 18.9091 4.15956 18.9091 2.80737Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M33.3276 17.2722L31.639 19.0982V24.9273H27.4182V0.345459H31.639V13.6202L37.5831 7.36929H42.6837L36.1057 14.3223L43.4909 24.9273H38.7089L33.3276 17.2722Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M55.2825 18.4841V16.507L51.7498 17.0188C49.538 17.3259 48.5385 18.041 48.5385 19.439C48.5385 20.7347 49.7171 21.6209 51.6778 21.6209C53.6049 21.6209 55.2825 20.53 55.2825 18.4841ZM44.4364 19.6774C44.4364 17.1884 45.791 14.8034 51.4635 14.0547L55.2825 13.5428V13.3381C55.2825 11.3946 54.283 10.2364 51.9992 10.2364C49.7523 10.2364 48.7528 11.2586 48.4665 12.9974L44.6859 12.1112C45.6502 8.73603 47.8972 6.96365 52.1416 6.96365C56.1029 6.96365 59.5637 8.83993 59.5637 13.2693V24.4491H55.9606L55.4968 22.915C54.7835 23.87 53.3906 24.9273 50.5359 24.9273C47.1839 24.9273 44.4364 22.915 44.4364 19.6774Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M79.4182 7.90909V24.4577C79.4182 29.2841 76.3515 32.4909 71.0287 32.4909C66.5891 32.4909 64.1907 30.0769 63.3455 27.0077L67.2921 26.2164C67.6461 27.904 68.8089 28.9395 71.0287 28.9395C73.6008 28.9395 75.1871 27.3879 75.1871 24.4917V22.665L75.1539 22.5614C73.9548 23.9755 72.5091 24.9414 69.8311 24.9414C65.9887 24.9414 63.4166 22.7345 63.4166 17.701V7.90909H67.6461V17.0117C67.6461 20.1135 69.0554 21.0778 71.1693 21.0778C73.4602 21.0778 75.1871 19.5957 75.1871 16.6996V7.90909H79.4182Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M91.0786 10.3388C88.2524 10.3388 86.683 12.2136 86.3 14.1555H95.5774C95.4726 12.6215 94.0767 10.3388 91.0786 10.3388ZM86.2656 17.2923C86.4407 19.439 88.3227 21.5521 91.0786 21.5521C93.5203 21.5521 94.9146 20.1205 95.3335 18.9623L98.8553 20.0181C97.8424 22.7454 95.3335 24.9273 91.0786 24.9273C86.0921 24.9273 82.2545 21.1778 82.2545 15.9279C82.2545 10.7819 86.0921 6.96365 91.0442 6.96365C96.0995 6.96365 99.2727 10.5435 99.2727 15.7232V17.2923H86.2656Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M104.192 20.6496V11.4752H101.164V7.76904H104.192V3.18182H108.418V7.76904H112.892V11.4752H108.418V20.0501C108.418 21.3551 109.018 21.9198 110.074 21.9198C110.849 21.9198 111.377 21.6035 111.694 21.3203L113.454 24.3194C112.962 24.9189 111.588 25.8727 109.159 25.8727C106.446 25.8727 104.192 24.109 104.192 20.6496Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M132.364 7.90909L125.626 24.9273H121.136L114.4 7.90909H118.783L123.381 20.289L127.979 7.90909H132.364Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M144.155 18.4841V16.507L140.622 17.0188C138.411 17.3259 137.411 18.041 137.411 19.439C137.411 20.7347 138.59 21.6209 140.55 21.6209C142.478 21.6209 144.155 20.53 144.155 18.4841ZM133.309 19.6774C133.309 17.1884 134.664 14.8034 140.336 14.0547L144.155 13.5428V13.3381C144.155 11.3946 143.156 10.2364 140.872 10.2364C138.625 10.2364 137.625 11.2586 137.339 12.9974L133.559 12.1112C134.523 8.73603 136.77 6.96365 141.014 6.96365C144.976 6.96365 148.436 8.83993 148.436 13.2693V24.4491H144.833L144.369 22.915C143.656 23.87 142.263 24.9273 139.409 24.9273C136.057 24.9273 133.309 22.915 133.309 19.6774Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M152.218 7.4534H155.642L156.231 9.48459C156.957 8.22412 158.41 6.96365 160.588 6.96365C161.973 6.96365 163.01 7.38276 163.564 7.80344L162.075 11.4797C161.731 11.2003 161.004 10.8863 160.002 10.8863C157.996 10.8863 156.369 12.4953 156.369 15.4024V24.9273H152.218V7.4534Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.67273 29.6731C5.67273 28.0949 6.95073 26.8182 8.49141 26.8182C10.0675 26.8182 11.3455 28.0949 11.3455 29.6731C11.3455 31.2125 10.0675 32.4909 8.49141 32.4909C6.95073 32.4909 5.67273 31.2125 5.67273 29.6731Z"
              fill="white"
            />
          </svg>
        </a>
        <span class="is-text-white slug">Posts</span>
      </div>
      <div class="nav-end">
        <app-button @click.self="login()">
          <app-spinner v-if="isLoading"></app-spinner>
          <span v-else>
            <router-link
              class="profile"
              v-if="user.name"
              :to="'/profile-detail/' + user.id"
              >{{ user.name }}</router-link
            >
            <span @click.self="login()" v-else>Login</span>
          </span>
        </app-button>
      </div>
    </header>
  </div>
</template>

<script>
import Button from "./Button.vue";
import Overlay from "./Overlay.vue";
import Spinner from "./Spinner.vue";
import { ref } from "vue";
export default {
  setup() {
    let isLoading = ref(false);
    let user = ref({});
    const login = async () => {
      if (!user.value.id) {
        isLoading.value = true;
        let obj = await fetch(
          `https://jsonplaceholder.typicode.com/users/${Math.floor(
            Math.random() * (10 - 1 + 1) + 1
          )}`
        );
        setTimeout(() => {
          isLoading.value = false;
        }, 1200);
        obj = await obj.json();
        user.value = obj;
      }
    };
    return {
      isLoading,
      login,
      user,
    };
  },
  components: {
    appButton: Button,
    appOverlay: Overlay,
    appSpinner: Spinner,
  },
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-start {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.slug {
  font-size: 0.875rem;
  padding-left: 2.75rem;
}
@media (max-width: 576px) {
  .slug {
    display: none;
  }
}

.profile {
  position: relative;
  display: block;
}
.profile:hover::after {
  opacity: 1;
}
</style>
