<template>
  <app-header />
  <router-view />
  <app-footer />
</template>

<script>
import AppHeader from "./Header.vue";
import AppFooter from "./Footer.vue";
import AppPost from "./Post/Index.vue";
export default {
  name: "Home",
  components: {
    AppHeader,
    AppPost,
    AppFooter,
  },
};
</script>
