<template>
  <transition name="modal">
    <div class="modal">
      <div class="modal-wrapper"><slot /></div>
    </div>
  </transition>
</template>

<script>
export default {
  setup({ post }) {},
  components: {},
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
    post: {
      type: Object,
      required: true,
    },
  },
};
</script>
<style scoped>
.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
  transition: opacity 0.3s ease;
  justify-items: center;
  align-items: center !important;
}
.modal-wrapper-title {
  border-bottom: 1px solid #e9ecef;
}
.modal-wrapper-footer {
  border-top: 1px solid #e9ecef;
}
.footer-button {
  padding: var(--default-padding);
  padding-top: 20px;
}
.modal-title {
  padding: var(--default-padding);
}
.modal-title span {
  color: #32325d;
}

.modal > .modal-wrapper {
  margin: auto;
  border-radius: var(--default-radius);
  margin-top: 10rem;
  background: rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
  min-width: 450px;
}
@media (max-width: 576px) {
  .modal > .modal-wrapper {
    min-width: 80%;
  }
}

.modal-close {
  display: block;
  font-size: 0.75rem;
  cursor: pointer;
  font-weight: bold;
  color: #666666;
  line-height: 2;
}
.modal-close:focus {
  outline: none;
}
.modal-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--default-padding);
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-title {
  display: flex;
  justify-content: space-between;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>