<template>
  <div class="overlay"></div>
</template>

<script>
export default {};
</script>

<style scoped>
.overlay {
  position: absolute;
  overflow-x: hidden;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 70vh;
  background: url("../assets/overlay.svg") no-repeat 100% 100%,
    linear-gradient(340.03deg, #8ddad5 8.42%, #00cdac 91.45%);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  z-index: -1;
}

@media (max-width: 599px) {
  .overlay span {
    display: none;
  }
}
</style>