<template>
  <app-wrapper>
    <div class="user-wrapper">
      <div class="user-info">
        <h2 class="user-name">{{ user.name }}</h2>
        <span class="user-city">{{ user.address.city }}</span>
        <table class="mt-30">
          <tbody>
            <tr>
              <th scope="row">Username</th>
              <td>
                {{ user.username }}
              </td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>
                {{ user.email }}
              </td>
            </tr>
            <tr>
              <th scope="row">Phone</th>
              <td>
                {{ user.phone }}
              </td>
            </tr>
            <tr>
              <th scope="row">Website</th>
              <td>
                <a target="_blank" :href="`http://www.` + user.website">
                  {{ user.website }}
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Username</th>
              <td>
                {{ user.company.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <iframe
        class="maps"
        width="600"
        height="300"
        frameborder="0"
        style="border: 0"
        :src="`https://www.google.com/maps/embed/v1/place?key=AIzaSyCl3DORGjp4Ztn0Ll35bUfmDdUf4pLANIc
    &q=Ridgefield park`"
        allowfullscreen
      >
      </iframe>
    </div>
    <div class="footer-wrapper container">
      <footer class="container user-footer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ea
          nostrum numqua m officiis quas commodi dolores nobis eaque veniam quos
          impedit sit, eligendi architecto cum vitae minima suscipit cupiditate
          iure ratione asperiores rerum atque aperiam deserunt est.
        </p>
        <a href="#">Show More</a>
      </footer>
    </div>
  </app-wrapper>
</template>

<script>
import Wrapper from "./Wrapper.vue";
import { onMounted, ref } from "vue";
import router from "../router/index";
export default {
  setup() {
    const { currentRoute } = router;
    let user = ref({ address: { city: "" }, company: { name: "" } });
    onMounted(async () => {
      try {
        let obj = await fetch(
          `https://jsonplaceholder.typicode.com/users/${currentRoute.value.params.id}`
        );
        obj = await obj.json();
        user.value = obj;
      } catch (e) {
        alert(e);
      }
    });
    return {
      user,
    };
  },
  components: {
    AppWrapper: Wrapper,
  },
};
</script>
<style scoped>
.user-name {
  font-size: 28px;
  margin-bottom: 1rem;
}
.user-city {
  font-weight: 200;
}
.user-name,
.user-city {
  color: var(--tertiary-color);
}

th {
  color: #adb5bd;
  font-weight: normal;
  float: left;
  padding: 0.5rem;
  padding-left: 0;
  font-size: 0.875rem;
}
td {
  color: var(--label-color);
  padding-left: 1rem;
  font-weight: 600;
}
.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--default-padding);
}
.footer-wrapper {
  margin-top: 3rem;
  box-sizing: border-box;
}
.user-footer {
  padding: 3rem 4rem;
  box-sizing: border-box;
  color: var(--label-color);
  border-top: 1px solid #e9ecef;
}
.user-footer p {
  text-align: center;
  line-height: 27px;
}
.user-footer a {
  text-align: center;
  display: block;
  padding-top: 1rem;
}
@media (max-width: 576px) {
  .maps {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
}
</style>


