<template>
  <div class="ball-pulse-sync">
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<style >
.ball-pulse-sync > div:nth-child(1) {
  -webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
  animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div {
  width: 8px;
  height: 8px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ball-pulse-sync > div,
.ball-pulse > div,
.ball-scale-random > div,
.ball-scale > div {
  background-color: var(--primary-color);

  border-radius: 100%;
  margin: 2px;
  display: inline-block;
}
.ball-pulse-sync > div:nth-child(2) {
  -webkit-animation: ball-pulse-sync 0.6s -70ms infinite ease-in-out;
  animation: ball-pulse-sync 0.6s -70ms infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
  -webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
  animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}
@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
</style>