<template>
  <teleport to="body">
    <div class="toast">
      <app-button type="primary"> <slot /> </app-button>
    </div>
  </teleport>
</template>

<script>
import Button from "./Button.vue";
export default {
  components: {
    AppButton: Button,
  },
};
</script>
<style>
.toast {
  position: fixed;
  z-index: 9998;
  bottom: 0;
  left: 0;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  align-items: center !important;
}
</style>