<template>
  <div class="container">
    <div class="card">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "Wrapper",
};
</script>

<style scoped>
.card {
  border-radius: var(--default-radius);
  margin-top: 10rem;
  background: #ffffff;
  padding: var(--default-padding);
  box-shadow: var(--box-shadow);
}
</style>
