<template>
  <app-wrapper>
    <ol>
      <app-post-item
        :post="post"
        :key="i"
        v-for="(post, i) in posts"
      ></app-post-item>
    </ol>
  </app-wrapper>
</template>

<script>
import Wrapper from "../Wrapper.vue";
import PostItem from "./PostItem.vue";
import { onMounted, ref } from "vue";
export default {
  setup() {
    let posts = ref([]);
    onMounted(async () => {
      try {
        let data = await fetch(
          "https://jsonplaceholder.typicode.com/posts?_limit=6"
        );
        data = await data.json();
        posts.value = data;
      } catch (e) {
        alert(e);
      }
    });
    return {
      posts,
    };
  },
  components: {
    AppWrapper: Wrapper,
    AppPostItem: PostItem,
  },
};
</script>
