<template>
  <div class="list-item">
    <li>
      <span class="list-item-marker">{{ post.id }}</span>
      {{ post.title }}
    </li>
    <div class="button-group">
      <router-link :to="'/post-detail/' + post.id"
        ><app-button type="secondary">DETAY</app-button></router-link
      >
      <app-button type="primary" @click="isOpen = !isOpen">DÜZENLE</app-button>
      <app-button @click="isQuestionOpen = !isQuestionOpen" type="danger"
        >SİL</app-button
      >
    </div>
    <teleport to="body">
      <app-modal
        v-show="isOpen"
        :post="post"
        :isOpen="isOpen"
        @close="isOpen = false"
      ></app-modal>
      <app-modal-question v-show="isQuestionOpen">
        <div class="dialog">
          <h1>Kaydı silmek istediğinizden emin misiniz?</h1>
          <div class="dialog-actions">
            <app-button @click.self="deletePost()" type="primary"
              >Evet</app-button
            >
            <app-button @click.self="isQuestionOpen = false" type="danger"
              >Hayır</app-button
            >
          </div>
        </div>
      </app-modal-question>
    </teleport>
  </div>
  <app-toast v-if="isToast">Silme Başarılı</app-toast>
</template>

<script>
import Wrapper from "../Wrapper.vue";
import Button from "../Button.vue";
import Modal from "../Modal.vue";
import Toast from "../Toast.vue";
import ModalQuestion from "../ModalQuestion.vue";
import { ref } from "vue";
export default {
  setup({ post }) {
    let isOpen = ref(false);
    let isQuestionOpen = ref(false);
    let isToast = ref(false);
    const deletePost = async () => {
      try {
        await fetch(`https://jsonplaceholder.typicode.com/posts/${post.id}`, {
          method: "DELETE",
        });
        isQuestionOpen.value = false;
        isToast.value = true;
        setTimeout(() => {
          isToast.value = false;
        }, 3000);
      } catch (e) {
        alert(e);
      }
    };
    return {
      isOpen,
      deletePost,
      isToast,
      isQuestionOpen,
    };
  },
  components: {
    AppButton: Button,
    AppModal: Modal,
    AppToast: Toast,
    AppModalQuestion: ModalQuestion,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.button-group {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--tertiary-color);
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.list-item-marker {
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 5px;
}
.list-item:not(:last-child) {
  border-bottom: solid 1px #e6e6e6;
}
.dialog {
  padding: var(--default-padding);
  color: var(--label-color);
}
.dialog h1 {
  font-weight: 300;
  text-align: center;
}
.dialog-actions {
  display: flex;
  justify-content: space-around;
}
</style>