<template>
  <app-wrapper>
    <table>
      <tbody>
        <tr>
          <th scope="row">Title</th>
          <td>
            {{ post.title }}
          </td>
        </tr>
        <tr>
          <th scope="row">Body</th>
          <td>
            {{ post.body }}
          </td>
        </tr>
        <tr>
          <th scope="row">User</th>
          <td>
            <router-link :to="'/profile-detail/' + post.user.id">{{
              post.user.name
            }}</router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </app-wrapper>
</template>

<script>
import Wrapper from "../Wrapper.vue";
import { ref, onMounted } from "vue";
import router from "../../router/index";

export default {
  setup() {
    const { currentRoute } = router;
    let post = ref({ user: { name } });
    onMounted(async () => {
      let obj = await fetch(
        `https://jsonplaceholder.typicode.com/posts/${currentRoute.value.params.id}`
      );
      obj = await obj.json();
      let user = await fetch(
        `https://jsonplaceholder.typicode.com/users/${obj.userId}`
      );
      user = await user.json();
      obj.user = user;
      post.value = obj;
    });
    return {
      post,
    };
  },
  components: {
    AppWrapper: Wrapper,
  },
};
</script>

<style>
th {
  color: #adb5bd;
  font-weight: normal;
  float: left;
  padding: 0.5rem;
  padding-left: 0;
  font-size: 0.875rem;
}
td {
  color: var(--label-color);
  padding-left: 1rem;
  font-weight: 600;
}
</style>