<template>
  <span class="icon">
    <svg
      width="50"
      height="51"
      viewBox="0 0 50 51"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_dd)">
        <rect x="6" y="3" width="38" height="38" rx="4" fill="#EA4C89" />
      </g>
      <path
        d="M26.998 27.7187C26.3809 27.9766 25.709 28.125 24.998 28.125C23.7559 28.125 22.623 27.6797 21.7324 26.9531C21.7324 26.9531 21.8027 27 21.8496 27.0391C22.834 24.8984 25.873 23.8359 25.873 23.8359C25.8809 23.8359 25.8965 23.8281 25.9043 23.8281C26.623 25.7031 26.9199 27.2656 26.998 27.7187ZM25.5527 22.9766C25.4902 23 25.4199 23.0156 25.3496 23.0391C25.3496 23.0391 22.584 23.9297 21.1855 26.4219C20.373 25.5156 19.873 24.3125 19.873 23C19.873 22.9453 19.873 22.8906 19.8809 22.8359C19.9668 22.8359 22.498 22.8984 25.1387 22.1094C25.2871 22.3984 25.4277 22.6875 25.5527 22.9766ZM24.7168 21.3203C22.2559 21.9687 20.1152 21.9453 19.9824 21.9453C20.3184 20.3594 21.3809 19.0391 22.8105 18.3672C22.8809 18.4609 23.8262 19.7422 24.7168 21.3203ZM30.0605 23.8125C29.8262 25.2422 29.0137 26.4766 27.8652 27.25C27.8105 26.9453 27.5371 25.4375 26.8652 23.5859C28.5215 23.3281 29.9512 23.7812 30.0605 23.8125ZM23.7715 18.0234C23.7637 18.0234 23.7559 18.0312 23.7559 18.0312C23.7637 18.0234 23.7637 18.0234 23.7715 18.0234ZM28.3809 19.1562C28.3652 19.1797 27.6387 20.2891 25.709 21.0078C24.834 19.3984 23.8652 18.125 23.7871 18.0234C24.1777 17.9297 24.584 17.875 24.998 17.875C26.2949 17.875 27.4824 18.3594 28.3809 19.1562ZM30.123 22.9453C30.0605 22.9375 28.3184 22.5547 26.5527 22.7812C26.5137 22.6953 26.4824 22.6016 26.4434 22.5156C26.334 22.2656 26.2168 22.0156 26.0996 21.7734C28.123 20.9453 28.9434 19.7578 28.959 19.7422C29.6777 20.6172 30.1074 21.7344 30.123 22.9453ZM30.998 23C30.998 19.6875 28.3105 17 24.998 17C21.6855 17 18.998 19.6875 18.998 23C18.998 26.3125 21.6855 29 24.998 29C28.3105 29 30.998 26.3125 30.998 23Z"
        fill="white"
      />
      <defs>
        <filter
          id="filter0_dd"
          x="0"
          y="0"
          width="50"
          height="51"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="2" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="3" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.196078 0 0 0 0 0.196078 0 0 0 0 0.364706 0 0 0 0.11 0"
          />
          <feBlend
            mode="normal"
            in2="effect1_dropShadow"
            result="effect2_dropShadow"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect2_dropShadow"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </span>
</template>

<style scoped>
.icon {
  position: relative;
  cursor: pointer;
}
.icon:hover::before {
  position: absolute;
  content: "Fallow us";
  text-align: center;
  word-wrap: break-word;
  right: 50%;
  top: -56px;
  top: -56px;
  width: 100px;
  overflow-y: auto;
  border-radius: var(--default-radius);
  transform: translate(50%, -50%);
  padding: var(--default-padding);
  background-color: #212529;
  color: #ffffff;
  font-size: 0.875rem;
}
.icon:hover::after {
  position: absolute;
  border-radius: 1px;
  content: "";
  display: block;
  right: 50%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  top: -30px;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #212529;
  color: #ffffff;
}
</style>