<template>
  <span class="icon">
    <svg
      width="50"
      height="51"
      viewBox="0 0 50 51"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_dd)">
        <rect x="6" y="3" width="38" height="38" rx="4" fill="#3B5999" />
      </g>
      <path
        d="M28.75 17H21.25C20.0078 17 19 18.0078 19 19.25V26.75C19 27.9922 20.0078 29 21.25 29H25.4063V24.3516H23.8438V22.5391H25.4063V21.2031C25.4063 19.6562 26.3594 18.8125 27.7422 18.8125C28.3984 18.8125 28.9688 18.8594 29.1328 18.8828V20.5L28.1797 20.5078C27.4219 20.5078 27.2813 20.8594 27.2813 21.3828V22.5391H29.0703L28.8359 24.3516H27.2813V29H28.75C29.9922 29 31 27.9922 31 26.75V19.25C31 18.0078 29.9922 17 28.75 17Z"
        fill="white"
      />
      <defs>
        <filter
          id="filter0_dd"
          x="0"
          y="0"
          width="50"
          height="51"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="2" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="3" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.196078 0 0 0 0 0.196078 0 0 0 0 0.364706 0 0 0 0.11 0"
          />
          <feBlend
            mode="normal"
            in2="effect1_dropShadow"
            result="effect2_dropShadow"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect2_dropShadow"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </span>
</template>

<style scoped>
.icon {
  position: relative;
  cursor: pointer;
}
.icon:hover::before {
  position: absolute;
  text-align: center;
  content: "Like us";
  word-wrap: break-word;
  right: 50%;
  top: -56px;
  width: 100px;
  overflow-y: auto;
  border-radius: var(--default-radius);
  transform: translate(50%, -50%);
  padding: var(--default-padding);
  background-color: #212529;
  color: #ffffff;
  font-size: 0.875rem;
}
.icon:hover::after {
  position: absolute;
  border-radius: 1px;
  content: "";
  display: block;
  right: 50%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  top: -30px;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #212529;
  color: #ffffff;
}
</style>