<template>
  <span class="icon">
    <svg
      width="50"
      height="51"
      viewBox="0 0 50 51"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_dd)">
        <rect x="6" y="3" width="38" height="38" rx="4" fill="#222222" />
      </g>
      <path
        d="M24.998 17C21.6855 17 18.998 19.6875 18.998 23C18.998 25.6484 20.7168 27.8984 23.0996 28.6953C23.4043 28.75 23.5137 28.5625 23.5137 28.4063C23.5137 28.2578 23.5059 27.7891 23.5059 27.2891C23.5059 27.2891 21.834 27.6484 21.4824 26.5781C21.4824 26.5781 21.209 25.8828 20.8184 25.7031C20.8184 25.7031 20.2715 25.3281 20.8574 25.3359C20.8574 25.3359 21.4512 25.3828 21.7793 25.9531C22.3027 26.875 23.1777 26.6094 23.5215 26.4531C23.5762 26.0703 23.7324 25.8047 23.9043 25.6484C22.5684 25.5 21.1699 24.9844 21.1699 22.6875C21.1699 22.0312 21.4043 21.5 21.7871 21.0781C21.7246 20.9219 21.5215 20.3125 21.8496 19.4844C22.3496 19.3281 23.498 20.1016 23.498 20.1016C23.9746 19.9687 24.4902 19.8984 24.998 19.8984C25.5059 19.8984 26.0215 19.9687 26.498 20.1016C26.498 20.1016 27.6465 19.3281 28.1465 19.4844C28.4746 20.3125 28.2715 20.9219 28.209 21.0781C28.5918 21.5 28.8262 22.0312 28.8262 22.6875C28.8262 24.9922 27.4199 25.5 26.084 25.6484C26.3027 25.8359 26.4902 26.1953 26.4902 26.7578C26.4902 27.5625 26.4824 28.2109 26.4824 28.4063C26.4824 28.5625 26.5918 28.75 26.8965 28.6953C29.2793 27.8984 30.998 25.6484 30.998 23C30.998 19.6875 28.3105 17 24.998 17ZM21.2715 25.6172C21.2559 25.6484 21.209 25.6562 21.1699 25.6328C21.123 25.6094 21.0996 25.5703 21.1152 25.5391C21.1309 25.5156 21.1699 25.5078 21.2168 25.5234C21.2637 25.5469 21.2871 25.5859 21.2715 25.6172ZM21.5137 25.8828C21.4824 25.9141 21.4277 25.8984 21.3887 25.8594C21.3496 25.8125 21.3418 25.7578 21.373 25.7344C21.4043 25.7031 21.459 25.7187 21.498 25.7578C21.5371 25.8047 21.5449 25.8594 21.5137 25.8828ZM21.748 26.2344C21.7168 26.2578 21.6543 26.2344 21.6152 26.1797C21.5762 26.125 21.5762 26.0625 21.6152 26.0391C21.6543 26.0078 21.7168 26.0312 21.748 26.0859C21.7871 26.1406 21.7871 26.2031 21.748 26.2344ZM22.0762 26.5625C22.0449 26.6016 21.9746 26.5937 21.9199 26.5391C21.8652 26.4922 21.8496 26.4219 21.8887 26.3906C21.9199 26.3516 21.9902 26.3594 22.0449 26.4141C22.0918 26.4609 22.1074 26.5312 22.0762 26.5625ZM22.5215 26.7578C22.5059 26.8047 22.4355 26.8281 22.373 26.8047C22.3027 26.7891 22.2559 26.7344 22.2715 26.6875C22.2871 26.6406 22.3574 26.6172 22.4199 26.6328C22.4902 26.6562 22.5371 26.7109 22.5215 26.7578ZM23.0137 26.7969C23.0137 26.8437 22.959 26.8828 22.8887 26.8828C22.8105 26.8906 22.7559 26.8516 22.7559 26.7969C22.7559 26.75 22.8105 26.7109 22.8809 26.7109C22.9512 26.7031 23.0137 26.7422 23.0137 26.7969ZM23.4668 26.7187C23.4746 26.7656 23.4277 26.8125 23.3574 26.8281C23.2871 26.8437 23.2246 26.8125 23.2168 26.7656C23.209 26.7109 23.2559 26.6641 23.3262 26.6484C23.3965 26.6406 23.459 26.6719 23.4668 26.7187Z"
        fill="white"
      />
      <defs>
        <filter
          id="filter0_dd"
          x="0"
          y="0"
          width="50"
          height="51"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="1" />
          <feGaussianBlur stdDeviation="2" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="3" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.196078 0 0 0 0 0.196078 0 0 0 0 0.364706 0 0 0 0.11 0"
          />
          <feBlend
            mode="normal"
            in2="effect1_dropShadow"
            result="effect2_dropShadow"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect2_dropShadow"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </span>
</template>

<style scoped>
.icon {
  position: relative;
  cursor: pointer;
}
.icon:hover::before {
  position: absolute;
  content: "Star on Github";
  text-align: center;
  word-wrap: break-word;
  right: 50%;
  top: -56px;
  width: 130px;
  border-radius: var(--default-radius);
  transform: translate(50%, -50%);
  padding: var(--default-padding);
  background-color: #212529;
  color: #ffffff;
  font-size: 0.875rem;
}
.icon:hover::after {
  position: absolute;
  border-radius: 1px;
  content: "";
  display: block;
  right: 50%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  top: -30px;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #212529;
  color: #ffffff;
}
</style>