<template>
  <span class="icon">
    <svg
      width="65"
      height="66"
      viewBox="0 0 66 45"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_dd)">
        <rect x="14" y="7" width="38" height="38" rx="4" fill="#1DA1F2" />
      </g>
      <path
        d="M38.1553 23.1875C37.7021 23.3828 37.21 23.5234 36.7021 23.5781C37.2256 23.2656 37.624 22.7734 37.8115 22.1875C37.3271 22.4766 36.7803 22.6875 36.21 22.7969C35.749 22.3047 35.0928 22 34.3662 22C32.9678 22 31.8428 23.1328 31.8428 24.5234C31.8428 24.7187 31.8662 24.9141 31.9053 25.1016C29.8115 24.9922 27.9443 23.9922 26.7021 22.4609C26.4834 22.8359 26.3584 23.2656 26.3584 23.7344C26.3584 24.6094 26.8037 25.3828 27.4834 25.8359C27.0693 25.8203 26.6787 25.7031 26.3428 25.5156C26.3428 25.5234 26.3428 25.5391 26.3428 25.5469C26.3428 26.7734 27.21 27.7891 28.3662 28.0234C28.1553 28.0781 27.9287 28.1094 27.7021 28.1094C27.5381 28.1094 27.3818 28.0937 27.2256 28.0703C27.5459 29.0703 28.4756 29.7969 29.585 29.8203C28.7178 30.5 27.6318 30.8984 26.4521 30.8984C26.2412 30.8984 26.0459 30.8906 25.8428 30.8672C26.96 31.5859 28.2881 32 29.7178 32C34.3584 32 36.8975 28.1562 36.8975 24.8203C36.8975 24.7109 36.8975 24.6016 36.8896 24.4922C37.3818 24.1328 37.8115 23.6875 38.1553 23.1875Z"
        fill="white"
      />
      <defs>
        <filter
          id="filter0_dd"
          x="0"
          y="0"
          width="66"
          height="66"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="3" />
          <feGaussianBlur stdDeviation="3" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dy="7" />
          <feGaussianBlur stdDeviation="7" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.196078 0 0 0 0 0.196078 0 0 0 0 0.364706 0 0 0 0.1 0"
          />
          <feBlend
            mode="normal"
            in2="effect1_dropShadow"
            result="effect2_dropShadow"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect2_dropShadow"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
  </span>
</template>

<style scoped>
.icon {
  position: relative;
  cursor: pointer;
}
.icon svg {
  transform: translateX(4px) !important;
}
.icon:hover::before {
  position: absolute;
  content: "Fallow Us";
  text-align: center;
  word-wrap: break-word;
  right: 50%;
  top: -56px;
  width: 100px;
  overflow-y: auto;
  border-radius: var(--default-radius);
  transform: translate(50%, -50%);
  padding: var(--default-padding);
  background-color: #212529;
  color: #ffffff;
  font-size: 0.875rem;
}
.icon:hover::after {
  position: absolute;
  border-radius: 1px;
  content: "";
  display: block;
  right: 50%;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  top: -30px;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #212529;
  color: #ffffff;
}
</style>